body {
}
.head
{
    width:80px;
    height:80px;
}
.smallhead
{
    width:40px;
    height:40px;
    margin:0px 10px 0px 0px;
}
.indexhead
{
    width:60px;
    height:60px;
    
}
.long
{
    width:100%    
}
.higth
{
    height:100%    
}
.resourceImage
{
    background-size:contain|cover;

    width:40%;

    height: auto;
}
.resourcemargin20
{
    margin:0px 0px 0px 20px;
}
.publishmargin5
{
    margin:0px 0px 0px 5px;
}
.avatarDiv
{
  margin:50px 0px 0px 0px;   
 }
 .avatarImage
 {
       width:150px;
       height:150px;
  }
  .avatarInput
  {
    width:20%;
    margin:30px 40% 0px 40%;    
  }
  
  .avatarInput1
  {
    width:40%;
    margin:30px 30% 0px 30%;    
  }
  
  .marginTop30
  {
    margin:30px 0px 0px 0px    
  }